:root{
    --size_room: 10em;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: purple;
    width: 100%; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-room{
    font-size: 50px;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 0 2px red; */
    overflow: hidden;
    perspective: 10em;
    perspective-origin: 50% calc( 50% - 2em);
    
}
.room{
    width: var(--size_room); height: var(--size_room);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:  translateZ( calc( var(--size_room) / 1.5))
                rotateX(-10deg)
    ;
    transform-style: preserve-3d;
}

@keyframes girar{
    to{
        transform: rotateY(360deg);
    }
}
.cube{
    position: relative;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    animation: girar 8s linear infinite;
}
.c{
    width: 100%; height: 100%;
    background-color: rgba(0, 122, 204,0.5);
    position: absolute;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-1{
    background: 
    radial-gradient(
        circle at center,
        transparent,
        rgba(1,1,1,0.5) 80%
    ),
    linear-gradient(
        90deg,
        black 2%,  
        rgb(125, 84, 54) 2%
    );
    background-size: 100%,5% 100%;
    background-repeat: no-repeat,repeat-x;
    transform:  rotateX(90deg)
                translateZ(calc( var(--size_room) / -2) );
    z-index: 100;
}
.c-2{
    background: 
    
    radial-gradient(
        transparent 1%,
        rgba(1,1,1,0.4)
    ),
    linear-gradient(
        90deg,
        rgba(1,1,1,0.3),
        transparent 30%,
        transparent 70%,
        rgba(1,1,1,0.3)
    ),
    purple
    ;

    /* background-size: 100%, 100%; */

    transform:  translateZ(calc( var(--size_room) / -2) );
}
.c-3{
    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(1,1,1,0.3) 60%
    ),
    purple;
    transform:  rotateY(-90deg)
                translateZ(calc( var(--size_room) / -2) )
            ;
}
.c-4{
    transform:  
        rotateY(180deg)
        translateZ(calc( var(--size_room) / -2) )
        ;
    background: 
    linear-gradient(
        90deg,
        rgba(1,1,1,0.3),
        transparent ,
        rgba(1,1,1,0.3)
    ),
    rgb(90, 0, 90);
}
.c-5{
    background:
    linear-gradient(
        90deg,
        rgba(1,1,1,0.3) 60%,
        transparent
    ),
    purple;
    transform:  rotateY(90deg)
                translateZ(calc( var(--size_room) / -2) );
}
.c-6{
    transform:  rotateX(90deg)
                translateZ(calc( var(--size_room) / 2) );
    background:  
        radial-gradient(
            circle at top center,
            transparent,
            rgba(1,1,1,0.5)
        ),
    rgb(0, 122, 204)
    ;
    background-size: 100%,100%;
}
.c-2,.c-3, .c-4, .c-5{
    box-shadow: 0 0 10px calc( var(--size_room) / 100) rgba(1,1,1,0.5) ;
}